@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: lightgray;
}
header{
    background-color: rgb(148, 148, 148);
}
header > h1{
    padding: 10px;
    text-align: center;
}
#menu{
    background-color: rgb(32, 32, 32);
    width: 98vw;
    padding: 5px;
    cursor: pointer;
}
div.menus{
    background-color: black;
    height: 3px;
    width: 34px;
    display: block;
    margin-bottom: 8px;
}
menu{
    display: none;
}
menu > h1{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(73, 73, 73);
    color: white;
    border-top: 2px solid gray
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vh;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
article > h2{
    padding-bottom:20px ;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}