@charset "UTF-8";

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: #223eff;
    color: white;
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (orientation:portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
    }
}

@media screen and (orientation:landscape){
    body{
        background-image: url(../imagens/cev-landscape.jpg);
    }
}